services:
  gitlab:
    image: gitlab/gitlab-{{ gitlab_edition }}:{{ gitlab_version }}-{{ gitlab_edition }}.0
    container_name: gitlab
    restart: always
    hostname: '{{ gitlab_hostname }}'
    ports:
      - '{{ gitlab_http_port }}:{% if gitlab_http_port != 80 %}{{ gitlab_http_port }}{% else %}80{% endif %}'
      - '{{ gitlab_https_port }}:443'
      - '{{ gitlab_ssh_port }}:22'
    volumes:
      - '{{ gitlab_home }}/config:/etc/gitlab'
      - '{{ gitlab_home }}/logs:/var/log/gitlab'
      - '{{ gitlab_home }}/data:/var/opt/gitlab'
    shm_size: '{{ gitlab_shm_size }}'
    restart: unless-stopped
