proxmox_api_url = "https://<ip-proxmox>:8006/api2/json"
proxmox_user = "<proxmox-user>"              # format: <user-name>@pam
proxmox_password = "<proxmox-password>"
ciuser = "<ciuser>"
cipassword = "<cipassword>"
sshkeys = "<sshkeys>"